# 2주차 파이썬 출석 대체 과제 : 2018312990조명재

## 02/28 문자열 포매팅, 리스트

In [28]:
# 문자열 인덱싱, 슬라이싱, 연산
a = "pithon"
type(a)

str

In [29]:
#문자열이지만 리스트처럼 슬라이싱, 인덱싱 가능

a[0]
a[2:]
a[0] + "y" + a[2:]

'python'

In [12]:
#문자열 포매팅
#정수: %d
"I eat %d apples" % 5

'I eat 5 apples'

In [13]:
"I eat %d apples" % 5.13 #정수만 받기 때문에 변환이 이뤄진다

'I eat 5 apples'

In [14]:
number = 5
"I eat %d apples" %number #%d 에 정수 형태의 변수를  포매팅 가능

'I eat 5 apples'

In [5]:
#문자 : %s
"I eat %s apples" %"three"

'I eat three apples'

In [7]:
"error is %d%%" %98 #%d% 또한 %d처럼 포매팅에 사용할 수 있다.

'error is 98%'

In [15]:
number = 10   # 정수 %d
day = "three"   # 문자열 %s
"I ate %d apples. and I was sick for %s days"  %(number, day)
#순서대로 삽입된다

'I ate 10 apples. and I was sick for three days'

In [16]:
number = 3
percent = "ten"
"I have %d apples, discount rate is %s percent"  %(number, percent)
#마찬가지로 순서대로 삽입된다

'I have 3 apples, discount rate is ten percent'

In [17]:
# f를 이용한 문자열 포맷팅, 정수나 문자열 변수를 그대로 새로운 문자열에 넣을 수 있다
name = "홍길동"
age = 30
f"나의 이름은 {name}이며 나이는 {age}입니다"

'나의 이름은 홍길동이며 나이는 30입니다'

In [19]:
length = 30.245

print(type(length))

f"이 물건의 길이는 {length}cm 입니다"
#포맷팅 연산자와 달리 정수 값이나 문자열 값에 국한되지 않는다.

<class 'float'>

'이 물건의 길이는 30.245cm 입니다'

In [23]:
list1 = ["a","b","c","d","e","f","g"]

print(type(list1))

f"알파뱃 a 부터 g 까지 : {list1}"
#리스트 또한 받을 수 있다

<class 'list'>

"알파뱃 a 부터 g 까지 : ['a', 'b', 'c', 'd', 'e', 'f', 'g']"

In [25]:
f"나는 내년에 {age+1}살이 된다"

'나는 내년에 31살이 된다'

In [27]:
f"나의 아버지는 {age+32}살이다" #중괄호 안에서 연산이 가능하다

'나의 아버지는 62살이다'

In [31]:
#리스트
odd = [1,3,5,7,9]
print(odd)

[1, 3, 5, 7, 9]

In [32]:
even = [2,4,6,8,10]
print(even)

[2, 4, 6, 8, 10]

In [ ]:
#리스트의 여러 형태
a = []
b = [1,2,3]
c = ["life", "is", "short"]
d = [1, 2, "life", "is"]
e = [1, 2, ["apple", "juice"]]

In [33]:
#리스트 인덱싱
a = [1,2,3]
a[1]

2

In [34]:
a[-3]

1

In [35]:
b = [1,2,3, ["a","b","c"]]
b[-1]
b[-1][1] #리스트 속 리스트에 접근, 2차원 자료형

'b'

In [36]:
b[0]

1

In [38]:
#리스트 슬라이싱
a = [1,2,3,4,5]
a[1:3] #인덱스 1이상 3미만

[2, 3]

In [42]:
a[:2] #인덱스 2미만까지

[1, 2]

In [41]:
a[3:] #인덱스 3이상부터 끝까지

[4, 5]

In [43]:
#리스트 연산하기
#리스트 간의 덧셈 : 리스트가 이어붙어짐
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [44]:
a * 3 #리스트 3번 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [45]:
len(b) #리스트의 길이

3

In [54]:
#리스트의 수정과 삭제 : 리스트는 내용의 수정이 가능
a = [1,2,3,4,5]
a[2]
a[2] = 4
print(a)

[1, 2, 4, 4, 5]

In [55]:
a[4] = 10 #4번째 값인 5를 10으로 대치
a

[1, 2, 4, 4, 10]

In [52]:
del a[3]
print(a)

[1, 2, 4]

In [56]:
#리스트 슬라이싱해서 요소 삭제하기
a = [2,4,6,8,10]
a[2:]

[6, 8, 10]

In [57]:
del a[2:] #index 2이상부터 모두 삭제
print(a)

[2, 4]

In [59]:
a = [1,2,3]
a.append(4) 
#append : list의 메서드, 리스트의 마지막에 요소를 추가한다
print(a)

[1, 2, 3, 4]

In [60]:
a = [1,2,3,4]
a.append([5,6])
print(a)
#리스트 내부에 리스트를 원소로 추가

[1, 2, 3, 4, [5, 6]]

In [61]:
#sort : list의 메서드, 리스트 원소를 오름차순으로 정렬
a = [1,4,3,6,5,2]
a.sort()
print(a) #리스트 요소를 오름차순 정렬

[1, 2, 3, 4, 5, 6]

In [63]:
a = ["a", "c", "b", "d"]
a.sort()
print(a)

#문자 리스트 : 배정된 값 순서대로 정렬해줌, ASCII 코드값순이므로 대문자가 소문자보다 앞선다

b = ["A","B","C","c","b","a"]
b.sort()
print(b)

['a', 'b', 'c', 'd']
['A', 'B', 'C', 'a', 'b', 'c']

In [64]:
a = [1,4,3,7,5, 'x', 'a']
a.sort()
a         # 숫자와 문자가 섞여있을 경우 작동X

TypeError: '<' not supported between instances of 'str' and 'int'

In [65]:
#내림차순 정렬 옵션 : reverse = True
a = [1,4,3,6,5,2]
a.sort(reverse = True)
print(a)

[6, 5, 4, 3, 2, 1]

In [66]:
#reverse : list의 메서드, 리스트 원소를 역순으로 정렬
a = ['apple', 'bear', 'car', 'am']
a.reverse()
a

['am', 'car', 'bear', 'apple']

In [67]:
a = [1,3,4,7,2]
a.reverse()       # 원소의 역순으로 나열할 뿐임
a

[2, 7, 4, 3, 1]

In [68]:
#index : list의 메서드, 리스트 내부 원소의 index 값을 반환
a = ["a","b","c","d"]
a.index("c")

2

In [69]:
a.index("a")

0

In [70]:
a.index("f") #없는 문자 호출시 에러

ValueError: 'f' is not in list

In [72]:
a = [1, 2, 3, 4, 2]
a.index(2) #원소중 중복되는 값이 있다면, 인덱스가 0에 가까운 값 출력

1

In [74]:
#insert : list의 메서드, 리스트 특정 위치에 특정 요소 삽입
a = [1, 2, 3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [75]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [84]:
#remove : list의 메서드, 리스트에서 특정요소 제거
a= [1, 2, 3, 4, 5, 3, 3, 5]
a.remove(5)   # a에서 3을 제거해라 (모두 제거하지 않고, 처음 나오는 요소만 제거)
print(a)

[1, 2, 3, 4, 3, 3, 5]

In [85]:
a.remove(4)
a

[1, 2, 3, 3, 3, 5]

In [87]:
#clear : list의 메서드, 빈 리스트로 만듬
a = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
a.clear()
a

[]

In [89]:
#pop : list의 메서드, 마지막 요소 꺼낸 뒤 리스트에서 삭제
a = [1, 2, 3, 4, 5]
a.pop() #5출력
print(a) #기존 리스트에선 마지막 요소 5삭제

[1, 2, 3, 4]

In [90]:
#count : list의 메서드, 리스트 안에 특정 요소 수를 세어준다
a = [1,2,3,1,2,3,4,3,4]
a.count(4) #4는 2개 있다

2

## 03/02 튜플, 딕셔너리

튜플 : 소괄호 안에 원소가 들어있는 형태, 원소값 변화 불가능, locked data

In [92]:
t1 = (1,2,3,4)
t1.remove(4)
t1.append(5) #tuple class 이기 때문에 list class의 메서드는 동작하지 않음
print(t1)

AttributeError: 'tuple' object has no attribute 'remove'

In [93]:
#튜플의 형태
t1 = () #비어있는 튜플
t2 = (1, ) #원소가 1개일 경우 심표로 마무리 해야한다
t3 = (1,2,3)
t4 = 1,2,3 #괄호 생략 가능, 하지만 생략하지 않는게 좋다
t5 = (1,2,('a','b')) #튜플 안에 튜플

In [94]:
t1 = (1) #정수출력
print(t1)

1

In [96]:
t1 = (1, ) #튜플출력
print(t1)

(1,)

In [97]:
a = [1]
print(a) #리스트는 쉼표 안써줘도 리스트 그대로 출력

[1]

In [100]:
#튜플 인덱싱
t1 = (1,2,3, 'a','b','c')
t1[3]

'a'

In [101]:
t1[5]

'c'

In [102]:
t1[-3]

'a'

In [103]:
#튜플 슬라이싱
t1[2:5]

(3, 'a', 'b')

In [104]:
t1[:2]

(1, 2)

In [105]:
t1[2:] #리스트와 모두 같은 방법으로 인덱싱과 슬라이싱을 할 수 있음

(3, 'a', 'b', 'c')

In [106]:
#튜플 합하기 : 요소값 변경은 안되나 중첩은 가능함, 새로운 튜플 안에 기존 튜플 2개를 넣는것
t3 = (t1, t2)
print(t3)

((1, 2, 3, 'a', 'b', 'c'), (1,))

In [110]:
#튜플 덧셈 : 모든 원소를 이어붙이기, 새로운 튜플을 생성한다, 리스트 연산과 동일
t2 = (5,6,7)
t1 + t2
t3 = t1 + t2
print(type(t3))
print(t3)

<class 'tuple'>
(1, 2, 3, 'a', 'b', 'c', 5, 6, 7)

In [112]:
t2*3 #리스트 연산과 동일

(5, 6, 7, 5, 6, 7, 5, 6, 7)

In [113]:
#튜플의 길이 구하기
len(t2)

3

In [115]:
#튜플 - 리스트 변환, 리스트 - 튜플 변환
t1 = (1,2,3,'a','b')
a = list(t1)
print(a)
t1 = tuple(a)
print(t1)

[1, 2, 3, 'a', 'b']
(1, 2, 3, 'a', 'b')

딕셔너리 : Key와 Value가 짝을 이룬 한 쌍,
중괄호 안에 있음

In [117]:
#딕셔너리의 형태
a = {}
a = {1 : "hi"}
a = {"a": [1,2,3]}
dic = {"name" : "kim", "phone":"01012345678", "birth":"0923"}
#여러 쌍으로 이뤄진 딕셔너리

In [118]:
#딕셔너리에 쌍을 추가하는 법
a = {1:"a"}
a[2] = "b" #(2 : "b")추가
a[3] = "c" #(3 : "c")추가
print(a)

{1: 'a', 2: 'b', 3: 'c'}

In [119]:
#딕셔너리 쌍 추가
a[4] = [1,2,3]
a["idol"] = "BTS"
a

{1: 'a', 2: 'b', 3: 'c', 4: [1, 2, 3], 'idol': 'BTS'}

In [120]:
del a[1] #del함수를 사용하여 쌍 제거 가능, key 값이 1인 쌍을 제거
print(a)

{2: 'b', 3: 'c', 4: [1, 2, 3], 'idol': 'BTS'}

In [121]:
del a[3] #key 값이 3인 쌍을 제거
print(a)

{2: 'b', 4: [1, 2, 3], 'idol': 'BTS'}

In [122]:
del dic["name"] #key 값이 "name"인 쌍을 제거
print(dic)

{'phone': '01012345678', 'birth': '0923'}

In [123]:
# key 사용시 해당하는 value 반환
a = {1 : "apple", 2 : "samsung"}
a[1]

'apple'

In [124]:
a[2]

'samsung'

In [125]:
# 딕셔너리의 사용
idol = {'BTS' : 'Hive', 'blackpink' : 'yg', 'twice' : 'jyp'}
idol['BTS']

'Hive'

In [126]:
dic = {"name" : "kim", "phone":"01012345678", "birth":"0923"}
dic["name"]

'kim'

In [127]:
dic["birth"]

'0923'

In [128]:
dic["phone"]

'01012345678'

In [129]:
#딕셔너리 내의 key값은 중복되면 안됨, 오류는 나지 않지만 중복시 가장 최근에 만든 쌍으로 덮어씌워짐
a = {1 : 'a', 2 : 'b', 2 : 'c'}   # 2 : b 가 2 : c 로 대체 
a[2]

'c'

In [130]:
#key에 리스트, 튜플 등의 형태가 올 수 없음 
a= {[1,2,3]: "apple"}
print(a)

TypeError: unhashable type: 'list'

In [132]:
#value 값에는 리스트가 올 수 있음
b = {"x":[1,2,3]}
b["x"]
b = {"list":[1,2,3]}
b["list"]

[1, 2, 3]

In [134]:
# Key값으로 리스트는 올 수 없으나 튜플은 가능, key는 변하지 않는 값이어야 함
# 원소가 여러개인 데이터를 key 값으로 쓰고싶다면 튜플을 사용하면 된다
a= {(1,2,3): 'apple'}
print(a)
a[(1,2,3)]

{(1, 2, 3): 'apple'}

'apple'

In [144]:
#keys : 딕셔너리의 메서드, key값들을 반환하며 "dict_key"라는 객체로 반환된다.
a= {'name': 'kim', 'phone': '01012345678', 'birth': '0923'}
print(a.keys())
print(type(a.keys()))

dict_keys(['name', 'phone', 'birth'])
<class 'dict_keys'>

In [138]:
#for문 활용 key값 객체 출력
for k in a.keys():
    print(k)

name
phone
birth

In [139]:
#a.key의 객체를 리스트 형태로 변환
list(a.keys())

['name', 'phone', 'birth']

In [141]:
#values : 딕셔너리의 메서드, value값들을 반환하며 "dict_values"라는 객체로 반환된다.
print(a.values())
print(type(a.values()))

dict_values(['kim', '01012345678', '0923'])
<class 'dict_values'>

In [145]:
for v in a.values():
    print(v)

kim
01012345678
0923

In [147]:
list(a.values())

['kim', '01012345678', '0923']

In [149]:
#items : 딕셔너리의 메서드, key, value의 쌍을 튜플 형태로 묶은 뒤 반환,
#"dict_items"라는 객체로 반환
print(a.items())
print(type(a.items()))

dict_items([('name', 'kim'), ('phone', '01012345678'), ('birth', '0923')])
<class 'dict_items'>

In [150]:
list(a.items()) #튜플로 이뤄진 리스트로 반환 가능

[('name', 'kim'), ('phone', '01012345678'), ('birth', '0923')]

In [151]:
#get : 딕셔너리의 메서드, key값을 입력받고 value값을 출력한다
a.get("name")

'kim'

In [152]:
a.get("phone")

'01012345678'

In [154]:
a.get("birth")

'0923'

In [155]:
print(a.get("job")) # key값으로 없는걸 출력하면 none 반환

None

In [156]:
#in 연산자의 활용 : key값의 존재 유무 조사
"name" in a

True

In [157]:
"kim" in a #value 값이 아니라 key값 기준으로 확인해준다.

False

## 연습문제

In [158]:
"""
1.사과 apple, 바나나 banana, 당근 carrot을 원소로 하는 딕셔너리 fruit 를 만드세요
2.fruit에서 당근을 삭제하세요
3.fruit에 체리 cherry 를 추가하세요
"""
#1
fruit = {"사과":"apple", "바나나":"banana", "당근":"carrrot"}

In [159]:
#2
del fruit["당근"]
print(fruit)

{'사과': 'apple', '바나나': 'banana'}

In [162]:
#3
fruit["체리"] = "cherry"
print(fruit)

{'사과': 'apple', '바나나': 'banana', '체리': 'cherry'}

In [163]:
#fruit의 value 출력
for i in fruit: #i가 각각 key값에 해당하므로
    print(fruit[i]) #이렇게 하면 바로 확인할 수 있다

apple
banana
cherry

In [164]:
for i in fruit.values():
    print(i)

apple
banana
cherry