# Pandas 기초

In [147]:
import pandas as pd

In [148]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
print(s)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [149]:
s.index #index접근

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [150]:
s.values #value접근

array([9904312, 3448737, 2890451, 2466052])

In [151]:
s.name = "population"
s.index.name = "city"

In [152]:
s
pop_2010 = s

In [153]:
for k, v in s.items():
    print("%s = %d" % (k, v)) #다음과 같이 딕셔너리처럼 접근 가능

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [154]:
s2 = {"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158}
pop_2015 = pd.Series(s2)
print(new_s)

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [155]:
pop_diff = pop_2010 - pop_2015 #자동으로 알맞은 index값 끼리 연산해준다 
#NaN 값은 float 자료형에서만 출력, 자동으로 float로 변환되어 출력된상태

In [156]:
pop_diff.notnull() #null값 제거 메서드

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [157]:
pop_diff[pop_diff.notnull()] #이렇게 null값을 빼고 pop_diff에서 불러오기 가능

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [158]:
pop_r = (pop_2010 - pop_2015) / pop_2015 * 100
pop_r = pop_r[pop_r.notnull()]
print(pop_r) #증가율 계산

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [159]:
pop_r["부산"] = 1.63 #pop_r[index] = value 이렇게 데이터를 추가하거나 갱신 가능하다. 갱신시 자동으로 맨 끝에 추가된다.
pop_r["대구"] = 1.41
pop_r
#제거는 딕셔너리처럼 del pop_r[index] 이런식으로 하면 된다.

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [160]:
a1 = pd.Series([90,40,50,90],
               index = ["MATH", "ENG", "KOR", "HISTORY"])
a2 = pd.Series([99,88,55,86],
               index = ["MATH", "ENG", "KOR", "HISTORY"])

In [161]:
a1 - a2

MATH       -9
ENG       -48
KOR        -5
HISTORY     4
dtype: int64

In [162]:
a1 + a2

MATH       189
ENG        128
KOR        105
HISTORY    176
dtype: int64

In [163]:
a1 * a2

MATH       8910
ENG        3520
KOR        2750
HISTORY    7740
dtype: int64

In [164]:
a1 / a2

MATH       0.909091
ENG        0.454545
KOR        0.909091
HISTORY    1.046512
dtype: float64

In [165]:
a1 % a2

MATH       90
ENG        40
KOR        50
HISTORY     4
dtype: int64

In [166]:
a1 ** a2 #거의 모든 연산자 사용 가능함.

MATH                         0
ENG                          0
KOR        3783023686991216640
HISTORY                      0
dtype: int64

In [167]:
"MATH" in a1 #dictionary와 같음, index값, 즉 key값만 in으로 불러와진다

True

In [168]:
data_pop = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df_pop = pd.DataFrame(data_pop, index=index, columns=columns)
df_pop 
#데이터프레임 형성 - R의 그것과 같다!
#R과 달리 벡터들을 따로따로 만든뒤 합치는게 아니라 한번에 만들 수 있고 colname rowname모두 한번에 설정 가능하다
#공통 인덱스를 가지는 열 시리즈(column series)를 딕셔너리로 묶어놓은 것이라고 보는 것이 더 정확하다. 
#2차원 배열 데이터는 모든 원소가 같은 자료형을 가져야 하지만 데이터프레임은 각 열(column)마다 자료형이 다를 수 있기 때문이다. 
#위 예제에서도 지역과 인구와 증가율은 각각 문자열, 정수, 부동소수점 실수이다.

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [169]:
df_pop.index #colname

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [170]:
df_pop.values #내부 데이터값

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [171]:
df_pop.columns #rowname

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [172]:
df_pop.index.name = "city"
df_pop.columns.name = "identity" #name 메서드를 이용해 index, column에 이름을 각 붙여줄 수 있다

In [173]:
df_pop

identity   지역     2015     2010     2005     2000  2010-2015 증가율
city
서울        수도권  9904312  9631482  9762546  9853972         0.0283
부산        경상권  3448737  3393191  3512547  3655437         0.0163
인천        수도권  2890451  2632035  2517680  2466338         0.0982
대구        경상권  2466052  2431774  2456016  2473990         0.0141

In [174]:
data_score = {
    "1학기중간고사": [98, 90, 90, 40, 44],
    "1학기기말고사": [97, 100, 100, 44, 45],
    "2학기중간고사": [89, 94, 98, 45, 45],
    "2학기기말고사": [92, 97, 97, 50, 50],
} #딕셔너리 형성, 각 열을 만들어준다

index = ["1학기중간고사", "1학기기말고사", "2학기중간고사", "2학기기말고사"]
#column list 형성
columns = ["수학", "국어", "영어", "탐구1", "탐구2"]
#index list 형성
df_score = pd.DataFrame(data_score, columns, index)

In [175]:
df_score
df_score.T

         수학   국어   영어  탐구1  탐구2
1학기중간고사  98   90   90   40   44
1학기기말고사  97  100  100   44   45
2학기중간고사  89   94   98   45   45
2학기기말고사  92   97   97   50   50

In [176]:
df_pop.T #전치행렬처럼, T메서드로 전치 표현 가능

city                서울       부산       인천       대구
identity
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [177]:
#열추가
df_pop["2010-2015 증가율"] = df_pop["2010-2015 증가율"] * 100
df_pop

identity   지역     2015     2010     2005     2000  2010-2015 증가율
city
서울        수도권  9904312  9631482  9762546  9853972           2.83
부산        경상권  3448737  3393191  3512547  3655437           1.63
인천        수도권  2890451  2632035  2517680  2466338           9.82
대구        경상권  2466052  2431774  2456016  2473990           1.41

In [178]:
# "2005-2010 증가율"이라는 이름의 열 추가
df_pop["2005-2010 증가율"] = ((df_pop["2010"] - df_pop["2005"]) / df_pop["2005"] * 100).round(2)
df_pop

identity,지역,2015,2010,2005,2000,2010-2015 증가율,2005-2010 증가율
city,,,,,,,
서울,수도권,9904312,9631482,9762546,9853972,2.83,-1.34
부산,경상권,3448737,3393191,3512547,3655437,1.63,-3.40
인천,수도권,2890451,2632035,2517680,2466338,9.82,4.54
대구,경상권,2466052,2431774,2456016,2473990,1.41,-0.99

In [179]:
df_pop["지역"]

city
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [180]:
df_pop["2015"]

city
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64

In [181]:
df_pop[["2015", "2010"]] #부분적인 데이터프레임 형성 : indexing만으로 간단하게 시행 가능

identity     2015     2010
city
서울        9904312  9631482
부산        3448737  3393191
인천        2890451  2632035
대구        2466052  2431774

In [182]:
df_pop[["2010"]] #Dataframe 자료형 형태 유지

identity     2010
city
서울        9631482
부산        3393191
인천        2632035
대구        2431774

In [183]:
#key값이 이렇게 문자열로 정해져있는 경우 정수형 인덱싱 불가능
df_pop[0]

KeyError: ignored

In [ ]:
import numpy as np
df2 = pd.DataFrame(np.arange(12).reshape(3, 4))
df2
#이렇게 기본값으로는 정수형 인덱스를 가지게 되는데, 이떄는 정수형으로 인덱스 접근이 가능하다

In [ ]:
df2[1]

In [ ]:
df2[[1]]

In [ ]:
df2[[1,2]]

In [ ]:
#row 방향 인덱싱 : slicing 사용 필수
df2[:1]

In [ ]:
df2[:2]

In [ ]:
df_pop["서울":"인천"] #문자열로 호출할 시 정수형과 달리 이상-이하로 출력

In [ ]:
df_pop["2015"]["서울"] #2차원 자료형 접근과 똑같은 방법 사용

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

# Class 복습