In [1]:
pip list #library 목록 : 아나콘다와 함께 설치된 라이브러리 목록

Package                            Version
---------------------------------- --------------------
alabaster                          0.7.12
anaconda-client                    1.9.0
anaconda-navigator                 2.1.1
anaconda-project                   0.10.1
anyio                              2.2.0
appdirs                            1.4.4
applaunchservices                  0.2.1
appnope                            0.1.2
appscript                          1.1.2
argh                               0.26.2
argon2-cffi                        20.1.0
arrow                              0.13.1
asn1crypto                         1.4.0
astroid                            2.6.6
astropy                            4.3.1
async-generator                    1.10
atomicwrites                       1.4.0
attrs                              21.2.0
autopep8                           1.5.7
Babel                              2.9.1
backcall                           0.2.0
backports.functools-lru-cache      1.6.4
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
beautifulsoup4                     4.10.0
binaryornot                        0.4.4
bitarray                           2.3.0
bkcharts                           0.2
black                              19.10b0
bleach                             4.0.0
bokeh                              2.4.1
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
cached-property                    1.5.2
certifi                            2021.10.8
cffi                               1.14.6
chardet                            4.0.0
charset-normalizer                 2.0.4
click                              8.0.3
cloudpickle                        2.0.0
clyent                             1.2.2
colorama                           0.4.4
conda                              4.12.0
conda-build                        3.21.5
conda-content-trust                0+unknown
conda-pack                         0.6.0
conda-package-handling             1.7.3
conda-repo-cli                     1.0.4
conda-token                        0.3.0
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cookiecutter                       1.7.2
cryptography                       3.4.8
cycler                             0.10.0
Cython                             0.29.24
cytoolz                            0.11.0
daal4py                            2021.3.0
dask                               2021.10.0
debugpy                            1.4.1
decorator                          5.1.0
defusedxml                         0.7.1
diff-match-patch                   20200713
distributed                        2021.10.0
docutils                           0.17.1
entrypoints                        0.3
et-xmlfile                         1.1.0
fastcache                          1.1.0
filelock                           3.3.1
flake8                             3.9.2
Flask                              1.1.2
fonttools                          4.25.0
fsspec                             2021.8.1
future                             0.18.2
gevent                             21.8.0
glob2                              0.7
gmpy2                              2.0.8
greenlet                           1.1.1
h5py                               3.2.1
HeapDict                           1.0.1
html5lib                           1.1
idna                               3.2
imagecodecs                        2021.8.26
imageio                            2.9.0
imagesize                          1.2.0
importlib-metadata                 4.8.1
inflection                         0.5.1
iniconfig                          1.1.1
intervaltree                       3.1.0
ipykernel                          6.4.1
ipython                            7.29.0
ipython-genutils                   0.2.0
ipywidgets                         7.6.5
isort                              5.9.3
itsdangerous                       2.0.1
jdcal                              1.4.1
jedi                               0.18.0
Jinja2                             2.11.3
jinja2-time                        0.2.0
joblib                             1.1.0
json5                              0.9.6
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.12
jupyter-console                    6.4.0
jupyter-core                       4.8.1
jupyter-server                     1.4.1
jupyterlab                         3.2.1
jupyterlab-pygments                0.1.2
jupyterlab-server                  2.8.2
jupyterlab-widgets                 1.0.0
keyring                            23.1.0
kiwisolver                         1.3.1
lazy-object-proxy                  1.6.0
libarchive-c                       2.9
llvmlite                           0.37.0
locket                             0.2.1
lxml                               4.6.3
MarkupSafe                         1.1.1
matplotlib                         3.4.3
matplotlib-inline                  0.1.2
mccabe                             0.6.1
mistune                            0.8.4
mkl-fft                            1.3.1
mkl-random                         1.2.2
mkl-service                        2.4.0
mock                               4.0.3
more-itertools                     8.10.0
mpmath                             1.2.1
msgpack                            1.0.2
multipledispatch                   0.6.0
munkres                            1.1.4
mypy-extensions                    0.4.3
navigator-updater                  0.2.1
nbclassic                          0.2.6
nbclient                           0.5.3
nbconvert                          6.1.0
nbformat                           5.1.3
nest-asyncio                       1.5.1
networkx                           2.6.3
nltk                               3.6.5
nose                               1.3.7
notebook                           6.4.5
numba                              0.54.1
numexpr                            2.7.3
numpy                              1.20.3
numpydoc                           1.1.0
olefile                            0.46
openpyxl                           3.0.9
packaging                          21.0
pandas                             1.3.4
pandocfilters                      1.4.3
parso                              0.8.2
partd                              1.2.0
path                               16.0.0
pathlib2                           2.3.6
pathspec                           0.7.0
patsy                              0.5.2
pep8                               1.7.1
pexpect                            4.8.0
pickleshare                        0.7.5
Pillow                             8.4.0
pip                                21.2.4
pkginfo                            1.7.1
pluggy                             0.13.1
ply                                3.11
poyo                               0.5.0
prometheus-client                  0.11.0
prompt-toolkit                     3.0.20
psutil                             5.8.0
ptyprocess                         0.7.0
py                                 1.10.0
pycodestyle                        2.7.0
pycosat                            0.6.3
pycparser                          2.20
pycurl                             7.44.1
pydocstyle                         6.1.1
pyerfa                             2.0.0
pyflakes                           2.3.1
Pygments                           2.10.0
PyJWT                              2.1.0
pylint                             2.9.6
pyls-spyder                        0.4.0
pyodbc                             4.0.0-unsupported
pyOpenSSL                          21.0.0
pyparsing                          3.0.4
pyrsistent                         0.18.0
PySocks                            1.7.1
pytest                             6.2.4
python-dateutil                    2.8.2
python-lsp-black                   1.0.0
python-lsp-jsonrpc                 1.0.0
python-lsp-server                  1.2.4
python-slugify                     5.0.2
pytz                               2021.3
PyWavelets                         1.1.1
PyYAML                             6.0
pyzmq                              22.2.1
QDarkStyle                         3.0.2
qstylizer                          0.1.10
QtAwesome                          1.0.2
qtconsole                          5.1.1
QtPy                               1.10.0
regex                              2021.8.3
requests                           2.26.0
rope                               0.19.0
Rtree                              0.9.7
ruamel-yaml-conda                  0.15.100
scikit-image                       0.18.3
scikit-learn                       0.24.2
scikit-learn-intelex               2021.20210714.100439
scipy                              1.7.1
seaborn                            0.11.2
Send2Trash                         1.8.0
setuptools                         58.0.4
simplegeneric                      0.8.1
singledispatch                     3.7.0
sip                                4.19.13
six                                1.16.0
sniffio                            1.2.0
snowballstemmer                    2.1.0
sortedcollections                  2.1.0
sortedcontainers                   2.4.0
soupsieve                          2.2.1
Sphinx                             4.2.0
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             2.0.0
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.5
sphinxcontrib-websupport           1.2.4
spyder                             5.1.5
spyder-kernels                     2.1.3
SQLAlchemy                         1.4.22
statsmodels                        0.12.2
sympy                              1.9
tables                             3.6.1
TBB                                0.2
tblib                              1.7.0
terminado                          0.9.4
testpath                           0.5.0
text-unidecode                     1.3
textdistance                       4.2.1
threadpoolctl                      2.2.0
three-merge                        0.1.1
tifffile                           2021.7.2
tinycss                            0.4
toml                               0.10.2
toolz                              0.11.1
tornado                            6.1
tqdm                               4.62.3
traitlets                          5.1.0
typed-ast                          1.4.3
typing-extensions                  3.10.0.2
ujson                              4.0.2
unicodecsv                         0.14.1
Unidecode                          1.2.0
urllib3                            1.26.7
watchdog                           2.1.3
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           2.0.2
wheel                              0.37.0
whichcraft                         0.6.1
widgetsnbextension                 3.5.1
wrapt                              1.12.1
wurlitzer                          2.1.1
xlrd                               2.0.1
XlsxWriter                         3.0.1
xlwings                            0.24.9
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.31.0
zict                               2.0.0
zipp                               3.6.0
zope.event                         4.5.0
zope.interface                     5.4.0

Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
import numpy as np

In [4]:
name = ["RM", "Jin", "Sugar", "Jhope", "jimin", "V", "JK"]
year = [1994, 1992, 1993, 1994, 1995, 1995, 1997]
position = ["rap", "vocal", "rap", "rap","vocal", "vocal", "vocal"]

In [5]:
dataset = list(zip(name, year, position))
print(dataset)

[('RM', 1994, 'rap'), ('Jin', 1992, 'vocal'), ('Sugar', 1993, 'rap'), ('Jhope', 1994, 'rap'), ('jimin', 1995, 'vocal'), ('V', 1995, 'vocal'), ('JK', 1997, 'vocal')]

In [6]:
dataset[1] #튜플 형태로 묶음 : zip 함수

('Jin', 1992, 'vocal')

In [21]:
bts = pd.DataFrame(data = dataset, columns = ['name', 'year', 'position'])

In [10]:
print(bts)

    name  year position
0     RM  1994      rap
1    Jin  1992    vocal
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal
5      V  1995    vocal
6     JK  1997    vocal

In [12]:
print(bts.head()) #head 함수 : 위에 있는 5개 목록 출력

    name  year position
0     RM  1994      rap
1    Jin  1992    vocal
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal

In [14]:
#numpy배열을 사용한 dataframe생성
dataset_np = [['RM', 1994, 'rap'], ['Jin', 1992, 'vocal'], ['Sugar', 1993, 'rap'], ['Jhope', 1994, 'rap'], ['jimin', 1995, 'vocal'], ['V', 1995, 'vocal'], ['JK', 1997, 'vocal']]

In [17]:
print(dataset_np) #이차원 데이터 생성

[['RM', 1994, 'rap'], ['Jin', 1992, 'vocal'], ['Sugar', 1993, 'rap'], ['Jhope', 1994, 'rap'], ['jimin', 1995, 'vocal'], ['V', 1995, 'vocal'], ['JK', 1997, 'vocal']]

In [23]:
bts_np = pd.DataFrame(dataset_np, columns = ["name","year","position"])

In [24]:
bts_np #numpy와 연동시 훨씬 보기 좋은 데이터프레임이 나온다.

    name  year position
0     RM  1994      rap
1    Jin  1992    vocal
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal
5      V  1995    vocal
6     JK  1997    vocal

In [33]:
print(bts.columns)

Index(['name', 'year', 'position'], dtype='object')

In [34]:
print(bts.dtypes) #각 열에 해당하는 데이터타입 반환

name        object
year         int64
position    object
dtype: object

In [35]:
bts["name"] #name 열만 반환

0       RM
1      Jin
2    Sugar
3    Jhope
4    jimin
5        V
6       JK
Name: name, dtype: object

In [72]:
bts[2:5] #행 : slicing으로만 접근할 수 있다, 숫자 인덱스 사용 불가능

    name  year position  age
2  Sugar  1993      rap   29
3  Jhope  1994      rap   28
4  jimin  1995    vocal   27

In [73]:
bts[1:]

    name  year position  age
1    Jin  1992    vocal   30
2  Sugar  1993      rap   29
3  Jhope  1994      rap   28
4  jimin  1995    vocal   27
5      V  1995    vocal   27
6     JK  1997    vocal   25

In [76]:
bts[:1]

  name  year position  age
0   RM  1994      rap   28

In [79]:
bts[3:4] #이런식으로 slicing만 접근 가능

    name  year position  age
3  Jhope  1994      rap   28

In [113]:
#또는 loc 메서드 사용 - 단, 4행짜리 다른 자료형으로 출력된다. 
bts.loc[0]

name          RM
year        1994
position     rap
age           28
Name: 0, dtype: object

In [56]:
print(type(bts["year"]<1995))
#조건문의 사용 : 다른 자료형 처럼 bool형태 반환, pandas.series class해당

print(bts[bts["year"]<1995])
#이렇게, 데이터프레임의 인덱스값으로 series class가 사용된다는 것을 알 수 있다

<class 'pandas.core.series.Series'>
    name  year position
0     RM  1994      rap
1    Jin  1992    vocal
2  Sugar  1993      rap
3  Jhope  1994      rap

In [71]:
bts[bts["position"] == "rap"]

    name  year position  age
0     RM  1994      rap   28
2  Sugar  1993      rap   29
3  Jhope  1994      rap   28

In [57]:
age = 2022 - bts["year"]

In [62]:
bts["age"] = age

In [68]:
mean = sum(bts["age"])/len(bts["age"])
mean = round(mean, 2)
print(mean)

27.71

In [105]:
gapminder = pd.read_csv("dataset_sample/gapminder.csv")
#mac이기 떄문에 그냥 폴더이름/gapminder.csv쓰면 됨. 개꿀!

In [106]:
gapminder #자동으로 pd.read_csv로 불러올시 데이터프레임으로 불러옴

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [91]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [90]:
gapminder.head(n=10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [92]:
print(type(gapminder))

<class 'pandas.core.frame.DataFrame'>

In [94]:
print(gapminder.shape)

(1704, 6)

In [95]:
print(gapminder.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [96]:
print(gapminder.info()) #전체 정보 요약!! null유무까지 반환하니 아주 유용하다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [97]:
country_gm = gapminder["country"]

In [98]:
print(country_gm.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [99]:
print(country_gm.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [104]:
subset = gapminder[["country", "continent", "year"]] 
#이차원 형태로 만들어야함, 1차원으로 만들면 에러발생!!

In [102]:
subset

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [109]:
#행단위 데이터 추출
gapminder.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [110]:
type(gapminder.loc[0])

pandas.core.series.Series

In [126]:
gapminder_0 = gapminder.loc[0]

In [127]:
gapminder_0.shape #6행 짜리 다른 자료형으로 추출된다

(6,)

In [128]:
gapminder.loc[[0]] #2차원 배열로 가져오면 데이터프레임 형태를 유지한다.

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [129]:
gapminder.loc[[0,10,14]] #이렇게 행 단위 접근 가능

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
14      Albania    Europe  1962   64.820   1728137  2312.888958

In [119]:
gapminder.shape[0] #튜플형태기 때문에 index로 행 길이, 열 길이를 접근할 수 있다

1704

In [130]:
last_idx = gapminder.shape[0]-1 #마지막 행 인덱스

In [131]:
gapminder.loc[[last_idx]]

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [132]:
gapminder.tail(n = 1) #마지막 행 접근 : tail 메서드

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298