In [108]:
###20220406 중간퀴즈대비###
#문자열
arr = ("hello world!")
print(arr[1:4])
print(arr.replace("l","x",2))

print(type(3+3)) #type 함수를 통해 객체의 자료형 / 또는 클래스를 출력한다
print(type("string"))
print(type(1.234))
type("string") == str #True 출력

head = "python"
tail = " is fun"
print(head*2)
print(head + tail)

print(len(head)) #길이반환
print(max(head)) #문자열도 max, min과 같은 내장함수를 모두 적용할 수 있다. ASCII코드 순으로 출력
print(min(head))

1+1
10-5
10*4
100/8

abs(-3)   # 절대값 돌려주기
abs(3.3)
abs(-4.5)

int(3.5)
int(-5.7)
int(4.8)
#float > int자료형 변환되면서 소수점이 버려진다

round(3.8) #반올림
round(5.125124, 3) #소수점자리 설정

print(all([1,2,3]))
print(all((1,2,3)))
print(all({1,2,3}))
print(all([1,2,0])) 
print(all("1230456"))
#all 함수: 리스트, 튜플, 집합 등에만 적용되며, 하나라도 0인 값이 있으면 False를 반환한다
#요소 중 하나라도 거짓인 값이 있으면 false반환

ell
hexxo world!
<class 'int'>
<class 'str'>
<class 'float'>
pythonpython
python is fun
6
y
h
True
True
True
False
True

In [18]:
#문자열 인덱싱
#정수 : %d
#문자 : %s
#f"~{}~"형태 : 바로 변수를 집어젛을 수 있다
#format 함수 : {0}, {1}, {2}.. 이렇게 쓰고 .format(a,b,c)사용
n = 5
percent = "ten"
print("I have %d apples, discount rate is %s percent" %(5, "ten"))
print("I have %d apples, discount rate is %s percent" %(n, percent))
print(f"I have {n} apples, discount rate is {percent} percent")
print("I have {0} apples, discount rate is {1} percent".format(n,percent))

I have 5 apples, discount rate is ten percent
I have 5 apples, discount rate is ten percent
I have 5 apples, discount rate is ten percent
I have 5 apples, discount rate is ten percent

# 리스트, 튜플, 딕셔너리, 집합, BOOL자료형

In [20]:
#리스트 연산하기
#리스트 간의 덧셈 : 리스트가 이어붙어짐
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

print(a * 3)#리스트 3번 반복

len(b) #리스트의 길이

#리스트의 수정과 삭제 : 리스트는 내용의 수정이 가능
a = [1,2,3,4,5]
a[2]
a[2] = 4
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 4, 4, 5]

In [41]:
#list에 사용가능한 메서드 정리
a = [1, 2, 3, 4, 5]
a.append([1,2])
print(a)

del a[5:]
print(a)

a.sort()
a.sort(reverse = True) #역순정렬후 저장
print(a)

a = [1, 1, 2, 3, 4]
print(a.index(1)) #원소 중 인덱스가 0에 가까운 값 출력

a.insert(3,5) #index가 3인 곳에 5 삽입
print(a)

a.remove(1) #a에서 1 제거, 단, 처음에 나오는 요소만 제거한다
print(a)

#pop : list의 메서드, 마지막 요소 꺼낸 뒤 리스트에서 삭제
a = [1, 2, 3, 4, 5]
a.pop() #5출력
print(a) #기존 리스트에선 마지막 요소 5삭제

#count : list의 메서드, 리스트 안에 특정 요소 수를 세어준다
a = [1,2,3,1,2,3,4,3,4]
print(a.count(4)) #4는 2개 있다

[1, 2, 3, 4, 5, [1, 2]]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
0
[1, 1, 2, 5, 3, 4]
[1, 2, 5, 3, 4]
[1, 2, 3, 4]
2

In [42]:
t1 = (1,2,3,4)
t1.remove(4)
t1.append(5) #tuple class 이기 때문에 list class의 메서드는 동작하지 않음
print(t1)

AttributeError: 'tuple' object has no attribute 'remove'

In [44]:
#튜플의 형태
t1 = () #비어있는 튜플
t2 = (1, ) #원소가 1개일 경우 심표로 마무리 해야한다
t3 = (1,2,3)
t4 = 1,2,3 #괄호 생략 가능, 하지만 생략하지 않는게 좋다
t5 = (1,2,('a','b')) #튜플 안에 튜플

t1 = (1) #정수출력
print(t1)
t1 = (1, ) #튜플출력
print(t1)

#튜플 인덱싱
t1 = (1,2,3, 'a','b','c')
print(t1[3])

#튜플 슬라이싱
print(t1[2:5])

#튜플 합하기 : 요소값 변경은 안되나 중첩은 가능함, 새로운 튜플 안에 기존 튜플 2개를 넣는것
t3 = (t1, t2)
print(t3)

#튜플 덧셈 : 모든 원소를 이어붙이기, 새로운 튜플을 생성한다, 리스트 연산과 동일
t2 = (5,6,7)
t1 + t2
t3 = t1 + t2
print(type(t3))
print(t3)

#튜플 곱셈 : 리스트와 동일~ 반복
print(3*t2)

1
(1,)
a
(3, 'a', 'b')
((1, 2, 3, 'a', 'b', 'c'), (1,))
<class 'tuple'>
(1, 2, 3, 'a', 'b', 'c', 5, 6, 7)
(5, 6, 7, 5, 6, 7, 5, 6, 7)

In [53]:
#딕셔너리
#딕셔너리의 형태: "key":"value"
a = {}
a = {1 : "hi"}
a = {"a": [1,2,3]}
dic = {"name" : "kim", "phone":"01012345678", "birth":"0923"}

# key 사용시 해당하는 value 반환
a = {1 : "apple", 2 : "samsung"}

print(a[1])  
#여러 쌍으로 이뤄진 딕셔너리
print(dic)

#요소추가
dic["class"] = "warrior" #key값과 value값을 넣어서 추가해줌
print(dic)

del dic["name"] #key 값이 "name"인 쌍을 제거
print(dic)

apple
{'name': 'kim', 'phone': '01012345678', 'birth': '0923'}
{'name': 'kim', 'phone': '01012345678', 'birth': '0923', 'class': 'warrior'}
{'phone': '01012345678', 'birth': '0923', 'class': 'warrior'}

In [54]:
#딕셔너리 내의 key값은 중복되면 안됨, 오류는 나지 않지만
#중복시 가장 최근에 만든 쌍으로 덮어씌워짐
a = {1 : 'a', 2 : 'b', 2 : 'c'}   # 2 : b 가 2 : c 로 대체 
a[2]

'c'

In [55]:
# Key값으로 리스트는 올 수 없으나 튜플은 가능, key는 변하지 않는 값이어야 함
# 원소가 여러개인 데이터를 key 값으로 쓰고싶다면 튜플을 사용하면 된다
a= {(1,2,3): 'apple'}
print(a)
a[(1,2,3)]

{(1, 2, 3): 'apple'}

'apple'

In [63]:
#keys : 딕셔너리의 메서드, key값들을 반환하며 "dict_key"라는 객체로 반환된다.
a= {'name': 'kim', 'phone': '01012345678', 'birth': '0923'}
print(a.keys())
print(type(a.keys()))
for k in a.keys():
    print(k)

    
#a.key의 객체를 리스트 형태로 변환
list(a.keys())

dict_keys(['name', 'phone', 'birth'])
<class 'dict_keys'>
name
phone
birth

['name', 'phone', 'birth']

In [65]:
#values : value값을 반환하는 딕셔너리 메서드
print(a.values())
for v in a.values():
    print(v)

list(a.values())

dict_values(['kim', '01012345678', '0923'])
kim
01012345678
0923

['kim', '01012345678', '0923']

In [70]:
#get메서드 : key값으로 value찾기
#나름 번거로운 방법이지만 자주 사용된다. 인덱스로 접근하는것보다 자주 쓰이는듯..?

value = []
a.get("name")
for k in a.keys():
    print(a.get(k))
    value.append(a.get(k))
    
print(value)

kim
01012345678
0923
['kim', '01012345678', '0923']

In [77]:
#items : 딕셔너리의 메서드, key, value의 쌍을 튜플 형태로 묶은 뒤 반환,
#"dict_items"라는 객체로 반환
items = list(a.items())
print(items)
items[0]
items[[0]] #오류반환

[('name', 'kim'), ('phone', '01012345678'), ('birth', '0923')]

TypeError: list indices must be integers or slices, not list

In [80]:
"name" in a #key값만 확인한다. 메모리할당된 변수는 key이기 때문이다.

True

In [81]:
"kim" in a #value값으론 접근할 수 없다.

False

In [86]:
#집합
#집합특징 : 인덱스 없음, 중복값 없음. 따라서 중복을 없에고 싶으면 집합으로 변환만 해주면 된다
a = [1, 1, 2, 2, 3, 3, 4, 4, 4, 5]
print(set(a))

a = {1, 2, 3, 4, 5}
a[0] #인덱스 없음. 접근불가

{1, 2, 3, 4, 5}

TypeError: 'set' object is not subscriptable

In [88]:
for i in a:
  print(i) #for문을 통한 요소 접근

1
2
3
4
5

In [89]:
seta = {{1,2},{3,4},5,6} #set 안에 set 불가능

TypeError: unhashable type: 'set'

In [91]:
s2 = set("123hello")
s2 ##순서가 없다, 자동으로 오름차순 정렬(숫자/문자 ASCII코드순)

{'1', '2', '3', 'e', 'h', 'l', 'o'}

In [93]:
fruits = {"grape", "orange", "banana","banana"}
fruits #중복되는 원소는 제거된다. set만의 특징.

s1 = set([5,2,3,4,1])
l1 = list(s1)
t1 = tuple(s1)

print(l1) #자동정렬되어 1 2 3 4 5 순으로 출력된다
print(t1)
print(s1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [94]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
print(s1&s2) #교집합 : &
print(s1.intersection(s2)) #intersection method

print(s1|s2) #합집합 : |
print(s1.union(s2)) #union method

print(s1-s2) #차집합 
print(s1.difference(s2)) #차집합 s1 - s2

#대칭차집합 : 합집합에서 교집합을 뺀 나머지 (AUB - AB)
print(s1 ^ s2)
print((s1|s2) - (s1&s2))

#한번에 여러 값 추가 : update함수
s1 = set([1,3,5])
s1.update([2,4,6])
print(s1)

#한번에 한 값 제거 : remove
s1.remove(3)
s1

#한번에 한 값 더하기 : add
s1.add(3)
s1

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [96]:
#bool 자료형

print(bool(1)) #0이 아닌 숫자 값 : True반환
print(bool(0)) #0은 False반환
print(bool([1,2,3]))
print(bool({1,2,3})) #요소가 포함된 집합, 리스트, 튜플 : True로 반환
print(bool((1,2,3)))
print(bool("letter")) #요소가 있는 문자열도 마찬가지
print(bool([]))
print(bool({})) #요소가 없는 집합, 리스트, 튜플 : False로 반환
print(bool(()))
print(bool("")) #요소가 없는 문자열도 마찬가지

True
False
True
True
True
True
False
False
False
False

# 변수의 이해 : 객체지향 프로그래밍

In [97]:
#변수 : 객체 / 자료형
#객체 = class
a = [1,2,3]
id(a)
#변수 a는 [1,2,3]이라는 리스트가 저장된 메모리의 주소를 가리킴
#id함수는 변수가 가리키고 있는 객체의 주소값을 돌려주는 파이썬 내장함수

140192430199872

In [99]:
#리스트의 복사 / 복사는 새로운 메모리에 할당하는 것이 아닌 가리키는 방향을 복사하는것
b = a
print(id(a))
print(id(b))

print(a is b)
#두 객체가 완전히 같은 것을 가리키기 때문에 True로 출력, 여기서 is 명령문의 원리를 알 수 있음

140192430199872
140192430199872
True

In [100]:
a = [1,2,3]
a = b #여기서 선언해도
a[1] = 4
print(a)
print(b) #b는 a와 같은 것을 가리키기 때문에, 이런 식으로 같은 것을 가리키게 된다
#이는 매우 중요하다.

[1, 4, 3]
[1, 4, 3]

In [101]:
x = [1,2]
y = [1,2]
x is y
#같은 값을 지니고 있지만, 각각 다른 객체를 선언했고 그 결과 각자 다른 메모리 위치를 가지고 있기 떄문에
#FALSE가 출력된다

False

In [103]:
x[1] = "dog"
print(x)
print(y) #y는 다른 객체이기 때문에 변하지 않는다

[1, 'dog']
[1, 2]

In [105]:
a = [1,2,3]
b = a[:] #a의 내용을 복사해와도 b는 다른 곳에 선언된다. 다른 객체다
print(b)
print(a is b) #메모리 주소값을 비교하기에 is는 False 를 반환한다 
print(a == b) #요소의 같음과 다름을 비교하기에 ==는 True를 반환한다!! (이거 꼭 기억)

[1, 2, 3]
False
True

In [107]:
#copy모듈 사용한 원소 복사 : 마찬가지로 요소만 복사해오기떄문에 같은 결과
from copy import copy
a = [1,2,3,4,5]
b = copy(a)
print(b)
print(a is b)
print(a == b)

[1, 2, 3, 4, 5]
False
True

# for, while, if elif else, list comprehension

In [115]:
#for문, if elif else, while
#...

#함수 설정
def mysum(x,y):
    return x+y

print(mysum(1,2))
#lambda샤용


#class

3
[11, 23]

In [ ]:
#리스트 comprehension
result = []
a = [2, 4, 6, 8, 10, 12, 14]
for i in a :
    if i % 3 == 1:
        result.append(i*2+3)
        
print(result)

#list comprehension : 리스트에 for 문과 if 문을 사용할 수 있다.
#[최종출력요소/ for문 + 조건문 + .... 순서대로 삽입]
result_cph = [i*2+3 for i in a if i%3 == 1]
result1 = [i for i in range(1,10)]
result2 = [i*2 for i in range(1,100) if i%3 == 0 and i%7 ==0]
print(result_cph)
print(result1)
print(result2)

# Function, lambda, filter, map

In [124]:
#asterisk : 여러 인수를 입력받는 것을 나타내는 인수, 여러 인수를 튜플형태로 저장한다.
def Last_name_and_First_name(*names):
  for name in names:
    print("%s %s"%(name[0], name[1:3]), end=" ")
  
  print("\n")

  print(type(names), names)

  return #결과값이 없는 함수 : 호출해도 print할 경우 NONE이 출력된다

Last_name_and_First_name("조명재","김예은","유채은")

조 명재 김 예은 유 채은

<class 'tuple'> ('조명재', '김예은', '유채은')

In [126]:
def add_mul(choice, *args):
    if choice=="add":   # 매개변수 choice에 "add"를 입력받았을때
        result= 0
        for i in args:
            result= result+i    # args에 입력받은 모든 값을 더해서 좌변 result에 넣어라 
    elif choice =="mul":    # 매개변수 choice에 mul을 입력받았을 때 
        result=1            # 첫 값을 1로 정해줌 
        for i in args:
            result= result*i      # args에 입력받은 모든 값을 곱해서 좌변 result에 넣어줘라 
    return result                 # 좌변 result를 반환해라

result= add_mul("add", 1,2,3,4,5) 
print(result)               # 1+2+3+4+5

result= add_mul("mul", 3,4,5,6)
print(result)

15
360

In [128]:
# 매개변수에 초기값을 미리 설정하기
def say_myself(name, age, man=True):        # 3가지 인수를 넣음, 성별에 기본값을 설정함 
    print("내 이름은 %s 입니다" % name)     # %s 문자가 와야함
    print("나이는 %d 살입니다" % age)       # %d 숫자가 와야함 
    if man:                          # man= True 일때
        print("남자입니다")          
    else:                            # man= False 일때 
        print("여자입니다")

say_myself("윤석열", 62, ) 
say_myself("조명재", 24, ) #인수를 입력하지 않아도 기본값이 출력된다
say_myself("김예은", 24, False)

내 이름은 윤석열 입니다
나이는 62 살입니다
남자입니다
내 이름은 조명재 입니다
나이는 24 살입니다
남자입니다
내 이름은 김예은 입니다
나이는 24 살입니다
여자입니다

In [133]:
#**(인수) : (키워드 = 특정값)으로 입력하면
#{키워드 : 특정값}의 딕셔너리 형태로 저장한다
#우리가 함수에서 사용하는 option이라고 생각하면 된다. reverse = True 같은..

def Hello_world(**kwargs):
  for key, value in kwargs.items():
    if key in kwargs.keys():
      print("my name is {0}, Hello ant world!".format(value))
    else:
      print("my name is {0}, Hello human world!".format(value))
  
Hello_world(ant = "Antty")
Hello_world(human = "Jakee")

#오류발생, key나 value를 제대로 입력하지 않을 경우
Hell0_world("jakee")

my name is Antty, Hello ant world!
my name is Jakee, Hello ant world!

NameError: name 'Hell0_world' is not defined

In [146]:
#def를 사용하지 않는 일회용 함수.
(lambda a, b, c: a+b+c)("sk","t1","forever")

#변수에 저장해서 그냥 함수처럼 활용할 수도 있음.
sum_abc = lambda a, b, c : a+b+c
sum_abc("sk","t1","forever")

#filter함수와의 혼용
a = [-10, -8, -1, 0, 2, 3, 4, 5]
print(a<-5) #다른 언어처럼 이렇게는 표현 불가능

TypeError: '<' not supported between instances of 'list' and 'int'

In [153]:
a = [-10, -8, -1, 0, 2, 3, 4, 5]

#filter함수: filter(함수, 리스트 등의 자료형)
#return되는 값을 한번에 반환
result = filter(lambda x : x<-5, a)
print(list(result))

[-10, -8]

In [167]:
a = list(range(1,30,2))
b = list(range(2,30,2))
#3의 배수
ans3 = list(filter(lambda x : x%3 == 0, a))
#5의 배수
ans5 = list(filter(lambda x : x%5 == 0, a))
print(ans3, ans5)

#MAP함수: 각 요소에 대해 function을 실행한 결과 반환, 단 길이가 같아야함
ans_ab = list(map(lambda x,y : x-y, a, b))
print(ans_ab)

[3, 9, 15, 21, 27] [5, 15, 25]
[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

# 클래스, 클래스 상속

In [172]:
class Fourcal:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def sum(self):
        return self.x + self.y
    
    def min(self):
        return self.x - self.y
    
    def mul(self):
        return self.x * self.y
    
    def div(self):
        return self.x / self.y

a = Fourcal(10, 20)
print(a.sum(), a.min(), a.mul(), a.div())

class Bank:
    def __init__(self):            # 초기값 27살, 10만원의 잔고가 있다. 
        self.age= 27               # 좌변은 Bank 클래스 안의 변수/ 우변은 argument
        self.balance= 100000
    def nextyear(self):
        self.age += 1              # age가 1 늘어남
    def deposit(self, x):
        self.balance += x          # 잔고가 x원 증가
    def withdraw(self, y):
        self.balance -= y          # 잔고가 y원 감소
        
#클래스 선언
a = Bank()

#메서드 선언
a.nextyear()
a.deposit(20)
a.withdraw(10)

#인스턴스 변수 접근
print(a.age)
print(a.balance)

30 -10 200 0.5
28
100010

In [198]:
class Car:                           # car 라는 이름의 클래스 
    def __init__(self, model, color, number):
        self.model= model
        self.color= color
        self.number= number
    def modelname(self):             
        print("모델은", self.model, "입니다")
    def setcolor(self):
        print("차의 색상은", self.color, "입니다")
    def carnumber(self):
        print("차 번호는", self.number, "입니다")
        
mycar= Car("genesis", "red", "1234")    # mycar 객체를 만들어 Car 클래스를 사용한다
mycar.modelname()
mycar.setcolor()
mycar.carnumber()

모델은 genesis 입니다
차의 색상은 red 입니다
차 번호는 1234 입니다

In [199]:
# class 클래스이름(상속할 클래스이름)  --> 위에서 정의해놓은 클래스를 그대로 이어받을 수 있다.
# 상속하는 이유: 부모 클래스를 사용하되, 새로운 내용을 추가하여 기능을 추가하고자 할때
# 자식 클래스를 만들어 클래스를 계속 확장 재사용 할 수 있음
# 기본클래스 base class --> 파생클래스 derived class 
# super(): 상속받는 부모 클래스를 그대로 호출해라

class Car1(Car):
    def __init__(self, model, color, number, madein):
        super().__init__(model, color, number)
        self.madein = madein
    def country(self):
        print(f"제조국가는{self.madein}입니다")

mycar = Car1("hyundai", "olivegreen", "3012","korea")
mycar.carnumber()
mycar.modelname()
mycar.country()
mycar.setcolor()

차 번호는 3012 입니다
모델은 hyundai 입니다
제조국가는korea입니다
차의 색상은 olivegreen 입니다

In [208]:
# 메서드 오버라이딩 overriding  기존 클래스 복사+ 덮어쓰기
# 기존의 클래스에서 정의했던 div 의 내용을 수정한 후 덮어쓰기 (메소드는 바뀌지 않음)

def Car_Eng(Car):
    def __init__(self, model, color, number, madein):
        super().__init__(model, color, number)
        self.madein = madein
     
    def modelname(self):             
        print("The model of this car is ", self.model)
        
    def setcolor(self):
        print("The color of this car is ", self.color)
        
    def carnumber(self):
        print("The numer of this car is ", self.number)    
        
    def country(self):
        print(f"This car is made in {self.madein}")

mycar = Car_Eng("hyundai", "olivegreen", "3012","korea")
mycar.carnumber()
mycar.country()
mycar.modelname()
mycar.setcolor()

TypeError: Car_Eng() takes 1 positional argument but 4 were given

# module
## datetime, calender, request, math, random...

In [212]:
import datetime as dt
now = dt.datetime.now()
print(now)

2022-04-05 20:53:53.423080

In [215]:
today = dt.datetime.today()
print(today)

xmas = dt.datetime(2022, 12, 25)
lefttime = xmas - dt.datetime.today() #실시간으로 변하기때문에 이렇게 써야함
print(lefttime)

2022-04-05 20:54:14.036864
263 days, 3:05:45.962891

In [216]:
#모듈의 생성 : 모듈이름.py로 저장한 다음 main에서
#import 모듈 
#from 모듈 import (함수, 클래스)
#불러올 때는 (모듈이름).function()
# a = (모듈이름).(클래스이름)() 이런식으로 사용가능하다
#from (모듈이름) import * :모두 불러오기

In [217]:
import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [218]:
print(calendar.prmonth(2020, 1))   # 년도, 월

    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
None

In [219]:
print(calendar.weekday(2021,12, 8))    # 요일출력: 월 0, 화 1, 수 2 .....일 6

2

In [220]:
from urllib import request
#html을 불러온다. Request는 굉장히 자주 쓰인다(크롤링)

target= request.urlopen("https://www.skku.edu/skku/index.do")
content= target.read()
print(content[:100])

b'\n\n\n<!doctype html>\n<html lang="ko">\n<head>\n<title>\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80\xed\x95\x99\xea\xb5\x90</title>\n<link rel="shortcut ico'

In [221]:
import math   # math 모듈이 가지고 있는 여러가지 변수와 함수를 사용할 수 있다
print(math.pi)
print(math.sin(10))
print(math.cos(10))

3.141592653589793
-0.5440211108893699
-0.8390715290764524

In [222]:
import random
a= ['apple', 'orange','kiwi', 'banana']
ans=[]
ans.append(random.choice(a))
print(ans)
# 리스트에 있는 원소들 중 랜덤하게 추출하여 return해준다

['banana']

# Pandas, Numpy ~ Dataframe

In [224]:
import pandas as pd
import numpy as np

In [225]:
name = ["RM", "Jin", "Sugar", "Jhope", "jimin", "V", "JK"]
year = [1994, 1992, 1993, 1994, 1995, 1995, 1997]
position = ["rap", "vocal", "rap", "rap","vocal", "vocal", "vocal"]

In [226]:
dataset = list(zip(name, year, position))
print(dataset)

[('RM', 1994, 'rap'), ('Jin', 1992, 'vocal'), ('Sugar', 1993, 'rap'), ('Jhope', 1994, 'rap'), ('jimin', 1995, 'vocal'), ('V', 1995, 'vocal'), ('JK', 1997, 'vocal')]

In [227]:
dataset[1] #튜플 형태로 묶음 : zip 함수

('Jin', 1992, 'vocal')

In [229]:
bts = pd.DataFrame(data = dataset, columns = ["name","year","position"])

In [230]:
bts

    name  year position
0     RM  1994      rap
1    Jin  1992    vocal
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal
5      V  1995    vocal
6     JK  1997    vocal

In [231]:
print(bts.head()) #head 함수 : 위에 있는 5개 목록 출력

    name  year position
0     RM  1994      rap
1    Jin  1992    vocal
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal

In [232]:
#numpy배열을 사용한 dataframe생성
dataset_np = [['RM', 1994, 'rap'], ['Jin', 1992, 'vocal'], ['Sugar', 1993, 'rap'], ['Jhope', 1994, 'rap'], ['jimin', 1995, 'vocal'], ['V', 1995, 'vocal'], ['JK', 1997, 'vocal']]

In [233]:
print(dataset_np) #이차원 데이터 생성

[['RM', 1994, 'rap'], ['Jin', 1992, 'vocal'], ['Sugar', 1993, 'rap'], ['Jhope', 1994, 'rap'], ['jimin', 1995, 'vocal'], ['V', 1995, 'vocal'], ['JK', 1997, 'vocal']]

In [234]:
bts_np = pd.DataFrame(dataset_np, columns = ["name","year","position"])

In [235]:
bts_np

    name  year position
0     RM  1994      rap
1    Jin  1992    vocal
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal
5      V  1995    vocal
6     JK  1997    vocal

In [242]:
print(bts.columns)
print(bts.dtypes) #각 열에 해당하는 데이터타입 반환
print(bts["name"]) #name 열만 반환
print(bts[2:5]) #행 : slicing으로만 접근할 수 있다, 숫자 인덱스 사용 불가능
print(bts.loc[1])

#dataframe 형태 유지
print(bts.loc[[2,3,4,5]])

#조건문의 활용
print(bts[bts["position"] == "rap"])

Index(['name', 'year', 'position'], dtype='object')
name        object
year         int64
position    object
dtype: object
0       RM
1      Jin
2    Sugar
3    Jhope
4    jimin
5        V
6       JK
Name: name, dtype: object
    name  year position
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal
name          Jin
year         1992
position    vocal
Name: 1, dtype: object
    name  year position
2  Sugar  1993      rap
3  Jhope  1994      rap
4  jimin  1995    vocal
5      V  1995    vocal
    name  year position
0     RM  1994      rap
2  Sugar  1993      rap
3  Jhope  1994      rap